:root {
    --light: oklch(0.78 0.0789 245.46);
    --lightST: #8dbde766;
    --lightHover: oklch(0.73 0.0789 245.46);
    --medium: oklch(0.48 0.1042 248.25);
    --dark: oklch(0.3 0.0747 249.76);
}

* {
    font-family: Helvetica Neue, Segoe UI, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    height: 100vh;
}

#app {
    display: grid;
    grid-template-rows: 10vh 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 6em;
    background-color: var(--light);
    padding-inline: 0.5em;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-inline-start: 0.25em;
}

h1, h2 {
    margin-block: 0;
    padding-block: 0.1em;
}

header button {
    height: 100%;
}

button, input[type="submit"] {
    background-color: var(--light);
    font-size: 12pt;
    font-weight: 500;
    border-style: none;
    padding-inline: 0.5em;
    width: fit-content;
    transition: 400ms;
}

button:hover, input[type="submit"]:hover, .imgIcon:hover {
    background-color: var(--lightHover);
    cursor: pointer;
}

div, main, .generalLayout, .sideAndChatLayout {
    height: 100%;
}

.generalLayout {
    display: grid;
    grid-template-columns: 4em 1fr;
}

.sideAndChatLayout {
    display: grid;
    grid-template-columns: 25em 1fr;
}

nav {
    display: grid;
    background-color: var(--medium);
    width: 100%;
    justify-items: center;
    padding-top: 1em;
    grid-template-rows: 4.5em 4.5em 4.5em 1fr;
}

.imgIcon {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    justify-items: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    transition: 300ms;
}

img {
    max-width: 70%;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    filter: invert(100%);
}

#sidebar {
    border-inline-style: solid;
    border-inline-color: var(--light);
    border-inline-width: 2px;
    height: 1fr;
}

#sidebar, #chat {
    padding-inline: 1em;
    padding-block-start: 0.5em;
}

#chat {
    display: grid;
    grid-template-rows: 3em 2em 1fr 4em;
}

#sendbar {
    display: grid;
    grid-template-columns: 5em 1fr;
    padding-block: 0.5em;
}

#sendbar section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sendbar img {
    filter: invert(0);
    max-width: 70%;
}

#sendbar form {
    display: grid;
    grid-template-columns: 1fr 5em;
}

#sendbar form input[type="text"] {
    width: 100%;
}

.chat {
    width: 100%;
}

.chat:hover {
    color: var(--medium);
    cursor: pointer;
}

button, input {
    margin: 3px;
}

input[type="text"] {
    width: 300px;
}

:checked + input[type="text"] {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

fieldset {
    display: contents;
}

.icon {
    padding: 5px;
}

.icon:hover {
    background-color: var(--lightST);
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: auto auto;
}

.text {
    display: block;
}

.text a {
    color: var(--medium);
}

.text a:hover {
    color: var(--lightHover);
}

li form {
    grid-row: 2;
}

.hiddenUnlessReveal {
    display: none;
}

.reveal {
    display: grid;
}

.profile {
    display: grid;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.profile img {
    filter: invert(0);
    max-width: 10em;
    margin-top: 2.5em;
    margin-bottom: 0;
}

.profile h2, .profile p {
    padding: 0;
    margin: 0;
}

.profile button {
    margin-block: 1em;
}

.profile form {
    justify-items: center;
}

.profile form input {
    text-align: center;
    margin-bottom: 0.5em;
}

.italic {
    font-style: italic;
}

nav .router-link-active button {
    background-color: var(--lightHover);
}

.centeredLayout {
    display: grid;
    justify-items: center;
    grid-template-rows: min-content;
}

video {
    max-height: 70vh;
    margin-block: 1em;
}

.itd div, .itd h2 {
    font-size: 16pt;
    height: auto;
    margin-block: 0;
    padding: 0;
}