:root {
    --light: oklch(0.78 0.0789 245.46);
    --lightST: #8dbde766;
    --lightHover: oklch(0.73 0.0789 245.46);
    --medium: oklch(0.48 0.1042 248.25);
    --dark: oklch(0.3 0.0747 249.76);
    --grey: oklch(0.9 0 0);
    --red: oklch(0.94 0.0197 17.51);
    --green: oklch(0.78 0.0789 163.18);
}

* {
    font-family: Helvetica Neue, Segoe UI, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#app {
    display: grid;
    grid-template-rows: 10vh 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 6em;
    background-color: var(--light);
    padding-inline: 0.5em;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-inline-start: 0.25em;
}

h1,
h2 {
    margin-block: 0;
    padding-block: 0.1em;
}

header button {
    height: 100%;
}

button,
input[type="submit"] {
    background-color: var(--light);
    font-size: 12pt;
    font-weight: 500;
    border-style: none;
    padding-inline: 0.5em;
    width: fit-content;
    transition: 400ms;
}

button:hover,
input[type="submit"]:hover,
.imgIcon:hover {
    background-color: var(--lightHover);
    cursor: pointer;
}

div,
main,
.generalLayout,
.sideAndChatLayout {
    height: 100%;
}

.generalLayout {
    display: grid;
    grid-template-columns: 4em 1fr;
}

.sideAndChatLayout {
    display: grid;
    grid-template-columns: 25em 1fr;
}

nav {
    display: grid;
    background-color: var(--medium);
    width: 100%;
    justify-items: center;
    padding-top: 1em;
    grid-template-rows: 4.5em 4.5em 4.5em 1fr;
}

.imgIcon {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    justify-items: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    transition: 300ms;
}

img {
    max-width: 70%;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    filter: invert(100%);
}

.profilePic {
    filter: invert(0);
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
}

#sidebar {
    border-inline-style: solid;
    border-inline-color: var(--light);
    border-inline-width: 2px;
    height: 1fr;
}

#sidebar,
#chat {
    padding-inline: 1em;
    padding-block-start: 0.5em;
}

#sidebar h2,
#sidebar h3 {
    margin: 0;
}

#chat {
    display: grid;
    grid-template-rows: 2em 1fr 4em;
}

#chat ul {
    height: 70vh;
    overflow: auto;
}

#chat h2 .imgIcon {
    font-size: 0.75em;
}

#chatlist {
    height: 77vh;
    overflow: auto;
}

#sendbar {
    display: grid;
    grid-template-columns: 3em 1fr;
    gap: 0.5em;
    /* grid-template-columns: 5em 1fr; */
    padding-block: 0.25em;
}

#sendbar section {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 1fr 1fr; */
}

#sendbar img {
    filter: invert(0);
    max-width: 70%;
}

#sendbar form {
    display: grid;
    grid-template-columns: 1fr 5em;
}

#sendbar form input[type="text"] {
    width: 100%;
}

.chat {
    width: 100%;
}

.chat:hover {
    color: var(--medium);
    cursor: pointer;
}

button,
input {
    margin: 3px;
}

input[type="text"] {
    width: 300px;
}

:checked+input[type="text"] {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

fieldset {
    display: contents;
}

.icon {
    padding: 5px;
}

.icon:hover {
    background-color: var(--lightST);
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: auto auto;
}

.text {
    display: block;
}

.text a {
    color: var(--medium);
}

.text a:hover {
    color: var(--lightHover);
}

li form {
    grid-row: 2;
}

.hiddenUnlessReveal {
    display: none;
}

.reveal {
    display: grid;
}

.profile {
    display: grid;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.profile img {
    filter: invert(0);
    max-width: 10em;
    margin-top: 2.5em;
    margin-bottom: 0;
}

.profile h2,
.profile p {
    padding: 0;
    margin: 0;
}

.profile button {
    margin-block: 1em;
}

.profile form {
    justify-items: center;
}

.profile form input {
    text-align: center;
    margin-bottom: 0.5em;
}

.italic {
    font-style: italic;
}

nav .router-link-active button {
    background-color: var(--lightHover);
}

.centeredLayout {
    display: grid;
    height: 100%;
    justify-items: center;
    grid-template-rows: min-content;
}

video {
    max-height: 70vh;
    margin-block: 1em;
}

.profile-setup,
.profile-setup form {
    display: grid;
    justify-items: center;
}

.profile-setup {
    height: 100%;
    align-items: end;
    grid-template-rows: 5em 7em 5em;
}

.profile-setup form {
    height: 100%;
    text-align: center;
    align-items: center;
    grid-template-rows: repeat(3, 2.5em) 2.5em 5em;
}

input[type="file"] {
    display: none;
}

.profile-setup label {
    color: var(--medium);
}

.profile-setup label:hover {
    color: var(--lightHover);
    cursor: pointer;
}

.itd div,
.itd h2 {
    font-size: 16pt;
    height: auto;
    margin-block: 0;
    padding: 0;
}

.scheduler-setup {
    justify-items: center;
}

.scheduler-setup form {
    display: grid;
    justify-items: center;
}

.scheduler-setup {
    align-items: end;
    grid-template-rows: 5em min-content;
}

.scheduler-setup form {
    align-items: center;
    grid-template-rows: min-content;
}

.scheduler-setup table {
    margin-block: 1em;
}

.scheduler-grid {
    text-align: center;
    align-items: end;
    scale: 0.9;
    grid-template-rows: 3em min-content min-content;
}

.scheduler-grid,
#grid, .individual-scheduler,
.dateLabels {
    justify-content: center;
    justify-items: center;
    gap: 4px;
}

.dateLabels {
    display: grid;
}

.timeLabels {
    display: grid;
    justify-items: end;
    gap: 4px;
}

.scheduler-grid div {
    display: grid;
    grid-template-columns: 75px 1fr 75px;
    gap: 10px;
}

.scheduler-grid button {
    height: 28pt;
    margin-bottom: 1em;
}

#grid, .individual-scheduler {
    display: grid;
    padding-block-end: 1em;
}

.scheduler-grid h3 {
    margin-block: 0;
    padding-block: 0;
    font-weight: 500;
    font-size: 12pt;
}

.timeLabels h3 {
    font-weight: 300;
    font-size: 10pt;
}

.grid-cell {
    width: 50px;
    height: 30px;
    background-color: var(--red);
    border: 1px solid var(--grey);
    transition: background-color 0.3s;
}

.grid-cell:hover,
.selected {
    background-color: var(--green);
}

.dragging-area {
    position: absolute;
    background: rgba(136, 200, 169, 0.2);
    pointer-events: none;
    border: 1px solid var(--green);
}

.revealScheduler {
    display: grid;
    position: absolute;
    width: 67vw;
    height: 70%;
    margin-top: 3em;
    justify-self: center;
    background-color: white;
    overflow: scroll;
}

#chat ul li:last-child {
    padding-bottom: 16pt;
}