/* css for all of your write ups here */
body {
    width: 60vw;
    margin-left: 20vw;
    line-height: 1.6;
}

h1, h2 {
    margin-top: 5vh;
}

.subtitle {
    font-style: italic;
    margin-top: 0;
}

ol {
    padding-inline-start: 2.5vw;
}

li {
    padding-block: 0.5vh;
}

code {
    width: 60vw;
    overflow-wrap: break-word;
}

#contents-list {
    font-size: large;
    padding-left: 2vw;
    line-height: 5vh;
    margin-top: 0;
    padding-top: 0;
}

img {
    width: 50vw;
    margin-inline: 5vw;
    margin-top: 2.5vh;
}

footer {
    margin-top: 7.5vh;
}