<section id="chat">
    <graffiti-discover v-if="this.channel" v-slot="{ objects: invitations, isInitialPolling }"
        :channels="[this.username]" :schema="chatSchema">
        <section class="chatWindow" v-for="invite of invitations">
            <h2>
                {{invite.value.title}}
                <span v-if="invite.actor === $graffitiSession.value.actor" class="toBeRevised">
                    <button class="imgIcon icon" @click="renameChat(invite)">✏️</button>
                    <button class="imgIcon icon" @click="deleteChat(invite)">🗑️</button>
                    <!-- <button class="imgIcon icon" @click="removeMember(invite, $graffitiSession.value.actor, invite.actor == $graffitiSession.value.actor)">🚪➡️</button> -->
                    <button @click="addMembers(invite)">Add Members</button>
                </span>
            </h2>

            <!-- <form @submit.prevent="addMembers(this.channel, newMembers)">
                <fieldset :disabled="adding">
                    <input type="text" v-model="newMembers" placeholder='chat members (separate members using ", ")'
                        ref="newChatMembersInput" />
                    <input type="submit" :value="adding? 'adding members...' : 'add members'" />
                </fieldset>
            </form> -->
        </section>
    </graffiti-discover>
    <h2 v-else>no chat selected</h2>

    <graffiti-discover v-slot="{ objects: messageObjects, isInitialPolling }" :channels="[this.channel]" :schema="this.messageSchema">
        <!-- <graffiti-discover v-slot="{ objects: messageObjects, isInitialPolling }" :channels="[this.channel]" :schema="this.messageSchema"> -->
        <!-- {{messageObjects}} -->
         <!-- {{messageObjects}} -->
        <ul>
            <li v-if="isInitialPolling">Loading...</li>
            <li v-for="object of messageObjects.sort((a, b) => a.value.published - b.value.published)"
                :key="object.url">
                <section>
                    <strong>
                        <span v-if="object.value.username">{{ object.value.username }}</span>
                        <span v-if="object.actor===$graffitiSession.value.actor && object.value.messageType == 'text'"> (you)</span>
                        <span v-else-if="object.value.messageType == 'scheduler'">system</span>
                    </strong>: 
                    <span v-if="object.value.messageType == 'scheduler'" class="italic">{{ object.value.content }}</span>
                    <span v-else>{{ object.value.content }}</span>
                </section>

                <section v-if="object.actor == $graffitiSession.value.actor">
                    <span class="icon" @click="revealInput($event)">
                        ✏️
                    </span>

                    <span class="icon" @click="deleteMessage(object)">
                        🗑️
                    </span>
                </section>
                <section v-else></section>
                
                <section v-if="object.value.messageType == 'scheduler'">
                    <Scheduler :schedulerTitle=object.value.title :channel="channel" :schedulerSchema="schedulerSchema" :schedulerObject='object' :offset="offset"></Scheduler>
                </section>

                <form class="hiddenUnlessReveal" @submit.prevent="editMessage($event, object)">
                    <input type="text" placeholder="revise above message" v-model="revisedMessage">
                    <input type="submit" value="Save" />
                </form>
            </li>
        </ul>
    </graffiti-discover>

    <section id="sendbar" v-if="this.channel">
        <!-- TODO: add in scheduler + activity functionality -->
        <section>
            <button class="imgIcon" @click="toggleScheduler()"><img src="./Icons/Scheduler Icon.svg"></button>
            <!-- <button class="imgIcon"><img src="./Icons/Activity Suggester Icon.svg"></button> -->
        </section>
        <form @submit.prevent="sendMessage()">
            <fieldset :disabled="sending">
                <input type="text" v-model="message" placeholder="message" ref="messageInput" />
                <input type="submit" :value="sending? 'sending...' : 'send'" />
            </fieldset>
        </form>
    </section>

    <!-- SCHEDULER STUFF -->
    <section class="scheduler hiddenUnlessReveal">
        <section class="scheduler-setup hiddenUnlessReveal reveal">
            <h2>scheduler setup</h2>

            <form @submit.prevent="setupScheduler()">
                <fieldset :disabled="creating">
                    <input type="text" v-model="schedulerTitle" placeholder="name of scheduler" />
                    <table>
                        <tbody>
                            <tr>
                                <th><label for="startDate">From</label></th>
                                <th><label for="endDate">To</label></th>
                                <th><label for="startTime">From</label></th>
                                <th><label for="endTime">To</label></th>
                            </tr>
                            <tr>
                                <td><input id="startDate" type="date" v-model="startDate" min="minDate" /></td>
                                <td><input id="endDate" type="date" v-model="endDate" min="minDate" /></td>
                                <td><select id="startTime" v-model="startTime"></select></td>
                                <td><select id="endTime" v-model="endTime"></select></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- todo: add rows -->
                    <input type="submit" :value="creating? 'setting up scheduler...' : 'setup scheduler'" />
                </fieldset>
            </form>
        </section>

        <section class="scheduler-grid hiddenUnlessReveal">
            <h2>{{this.schedulerTitle}}</h2>
            <div>
                <span class="empty"></span>
                <section class="dateLabels" id="dateLabels">
                </section>
            </div>
            <div>
                <section class="timeLabels" id="timeLabels">
                </section>
                <section id="grid">
                </section>
            </div>
            <span>
                <button id="clearButton" @click="clearAll">clear availability</button>
                <button @click="sendScheduler">send scheduler</button>
            </span>
        </section>
    </section>
</section>