<section id="chat">
    <graffiti-discover v-if="this.channel" v-slot="{ objects: invitations, isInitialPolling }"
        :channels="[this.username]" :schema="chatSchema">
        <p v-if="isInitialPolling">Loading...</p>
        <section v-else class="chatWindow" v-for="invite of invitations">
            <h2>
                {{invite.value.title}}
                <button id="chatMenuOptions" class="imgIcon smallIcon" @click="toggleMenu"><img src="./Icons/Menu.svg"
                        @click="toggleSelected" /></button>
            </h2>
            <section id="chatMenu" class="hiddenUnlessReveal">
                <nav>
                    <button @click="toggleMembersList">view members</button>
                    <button v-if="invite.actor === $graffitiSession.value.actor" @click="addMembers(invite)">add members</button>
                    <button v-if="invite.actor === $graffitiSession.value.actor" @click="renameChat(invite)">rename chat</button>
                    <button @click="leave">leave chat</button>
                    <button v-if="invite.actor === $graffitiSession.value.actor" @click="deleteChat(invite)">delete chat</button>
                </nav>
            </section>
            <!-- TODO: remove revealMembersList when finished -->
            <section id="membersList" class="hiddenUnlessReveal revealMembersList">
                <div><button class="imgIcon exitIcon" @click="toggleMembersList"><img src="./Icons/Exit.svg" /></button>
                </div>
                <h2>members list</h2>
                <ul>
                    <li v-for="m of invite.value.participants.sort((a, b) => a.localeCompare(b))" :key="m">
                        <span>{{this.memberNames[m]}} ({{m}})</span>
                        <span v-if="m == invite.value.owner" class="italic">owner</span>
                        <button v-else-if="m == this.username && invite.actor != $graffitiSession.value.actor" @click="leave">leave</button>
                        <button v-else-if="invite.actor === $graffitiSession.value.actor && m != this.username" @click="removeMember(invite, m)">remove</button>
                    </li>
                </ul>
            </section>
        </section>
    </graffiti-discover>
    <h2 v-else>no chat selected</h2>

    <graffiti-discover autopoll v-slot="{ objects: messageObjects, isInitialPolling }" :channels="[this.channel]"
        :schema="this.messageSchema">
        <!-- <graffiti-discover v-slot="{ objects: messageObjects, isInitialPolling }" :channels="[this.channel]" :schema="this.messageSchema"> -->
        <!-- {{messageObjects}} -->
        <!-- {{messageObjects}} -->
        <ul v-scroll-bottom>
            <li v-if="isInitialPolling">Loading...</li>
            <li v-for="object of messageObjects.sort((a, b) => a.value.published - b.value.published)"
                :key="object.url">
                <section class="message">
                    <strong>
                        <span v-if="object.value.username">{{ object.value.username }}</span>
                        <span v-if="object.actor===$graffitiSession.value.actor && object.value.messageType == 'text'">
                            (you)</span>
                        <span v-else-if="object.value.messageType == 'scheduler'">system</span>
                    </strong>:
                    <span v-if="object.value.messageType == 'scheduler'" class="italic">{{ object.value.content
                        }}</span>
                    <span v-else>{{ object.value.content }}</span>
                </section>

                <section v-if="object.actor == $graffitiSession.value.actor">
                    <span class="icon" @click="revealInput($event)">
                        ✏️
                    </span>

                    <span class="icon" @click="deleteMessage(object)">
                        🗑️
                    </span>
                </section>
                <section v-else></section>

                <section v-if="object.value.messageType == 'scheduler'">
                    <Scheduler :schedulerTitle=object.value.title :channel="channel" :schedulerSchema="schedulerSchema"
                        :schedulerObject='object' :offset="offset" :username="username"></Scheduler>
                </section>

                <form class="hiddenUnlessReveal" @submit.prevent="editMessage($event, object)">
                    <input type="text" placeholder="revise above message" v-model="revisedMessage">
                    <input type="submit" value="Save" />
                </form>
            </li>
        </ul>
    </graffiti-discover>

    <section id="sendbar" v-if="this.channel">
        <section>
            <button class="imgIcon" @click="toggleScheduler()"><img src="./Icons/Scheduler Icon.svg"
                    @click="toggleSelected"></button>
        </section>
        <form @submit.prevent="sendMessage()">
            <fieldset :disabled="sending">
                <textarea v-model="message" placeholder="message" ref="messageInput"></textarea>
                <input type="submit" :value="sending? 'sending...' : 'send'" />
            </fieldset>
        </form>
    </section>

    <!-- SCHEDULER STUFF -->
    <section class="scheduler hiddenUnlessReveal">
        <button class="imgIcon exitIcon" @click="toggleScheduler"><img src="./Icons/Exit.svg" /></button>
        <section class="scheduler-setup hiddenUnlessReveal reveal">
            <h2>scheduler setup</h2>

            <form @submit.prevent="setupScheduler()">
                <fieldset :disabled="creating">
                    <input type="text" v-model="schedulerTitle" placeholder="name of scheduler" />
                    <table>
                        <tbody>
                            <tr>
                                <th><label for="startDate">From</label></th>
                                <th><label for="endDate">To</label></th>
                                <th><label for="startTime">From</label></th>
                                <th><label for="endTime">To</label></th>
                            </tr>
                            <tr>
                                <td><input id="startDate" type="date" v-model="startDate" min="minDate" /></td>
                                <td><input id="endDate" type="date" v-model="endDate" min="minDate" /></td>
                                <td><select id="startTime" v-model="startTime"></select></td>
                                <td><select id="endTime" v-model="endTime"></select></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" :value="creating? 'setting up scheduler...' : 'setup scheduler'" />
                </fieldset>
            </form>
        </section>

        <section class="scheduler-grid hiddenUnlessReveal">
            <span class="schedulerTop">
                <button class="imgIcon exitIcon" @click="showForm"><img src="./Icons/Back.svg" /></button>
                <h2>{{this.schedulerTitle}}</h2>
            </span>

            <div>
                <span class="empty"></span>
                <section class="dateLabels scroll1" id="dateLabels">
                </section>
            </div>
            <div>
                <section class="timeLabels" id="timeLabels">
                </section>
                <section class="scroll2" id="grid">
                </section>
            </div>
            <span>
                <button id="clearButton" @click="clearAll">clear availability</button>
                <button @click="sendScheduler">send scheduler</button>
            </span>
        </section>
    </section>
</section>