<main class="centeredLayout">
    <!-- TODO: replace video with screen recording of actual site once features are implemented -->
    <video controls title="demo of a prototype of the app">
        <source src="./Videos/Prototype Demo.mov" type="video/mov">
        <source src="./Videos/Prototype Demo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="italic">A chat app with scheduling integrated to make meeting up with others easier.</p>
</main>