<nav>
    <router-link v-if="this.chatName" :to="`/` + this.username + `/chats/` + this.chatName + `/` + this.channel"><button class="imgIcon"><img src="./Icons/Chats Icon.svg"></button></router-link>
    <router-link v-else :to="`/` + this.username + `/chats/`"><button class="imgIcon"><img src="./Icons/Chats Icon.svg"></button></router-link>
    <router-link v-if="this.chatName" :to="`/` + this.username + `/new-chat/` + this.chatName + `/` + this.channel"><button class="imgIcon"><img src="./Icons/New Chat Icon.svg"></button></router-link>
    <router-link v-else :to="`/` + this.username + `/new-chat`"><button class="imgIcon"><img src="./Icons/New Chat Icon.svg"></button></router-link>
    <router-link :to="`/` + this.username + `/calendar`"><button class="imgIcon"><img src="./Icons/Calendar Icon.svg"></button></router-link>
    <router-link :to="`/` + this.username + `/profile`"><button class="imgIcon"><img src="./Icons/Account Icon.svg"></button></router-link>
</nav>