<section class="profile">
    <graffiti-discover v-slot="{ objects: profileObjects, isInitialPolling }"
        :channels="[this.username]" :schema="this.profileSchema">
        <div v-for="profile of profileObjects">
            <img v-if="!profile.value.profilePicURL" class="profilePic" src="./Icons/Account Icon.svg">
            <graffiti-get v-else :url="profile.value.profilePicURL" :schema="graffitiFileSchema" v-slot="{ object }">
                <graffiti-object-to-file :object="object" v-slot="{ file, fileDataUrl }">
                    <p v-if="file === undefined">Loading...</p>
                    <img v-else-if="file === null || !file.type.startsWith('image/')" class="profilePic" src="../Icons/Account Icon.svg">
                    <template v-else>
                        <img :src="fileDataUrl" class="profilePic" alt="Profile Image" />
                    </template>
                </graffiti-object-to-file>
            </graffiti-get>
            <h2>{{profile.value.username}}</h2>
            <p>{{profile.value.name}}</p>
            <router-link :to="`/profile-setup`"><button>edit profile</button></router-link>
        </div>
    </graffiti-discover>
</section>