<!-- <div class="centerContent"> -->
<section class="scheduler-grid sentSchedulerGrid">
    <h2>{{this.schedulerTitle}}</h2>

    <div class="schedulerContainer">
        <span class="empty"></span>
        <section class="dateLabels scroll1">
        </section>
    </div>
    <div class="schedulerContainer">
        <section class="timeLabels">
        </section>
        <section class="individual-scheduler scroll2">
        </section>
    </div>
    <span>
        <button id="clearButton" @click="resetUserAvailability">clear selected</button>
        <button @click="saveAvailability">save selected availability</button>
    </span>
</section>
<!-- </div> -->