<section id="sidebar">
    <h2>{{$graffitiSession.value.actor}}'s chats</h2>

    <!-- TODO: make this only show up when the user clicks create chat button -->
    <form @submit.prevent="createChat($graffitiSession.value)">
        <fieldset :disabled="creating">
            <!-- TODO: change how members are added -->
            <input type="text" v-model="members" placeholder='chat members (separate members using ", ")' ref="chatMembersInput" v-focus />
            <input type="text" v-model="chatName" placeholder="chat name" ref="chatNameInput" v-focus />
            <input type="submit" :value="creating? 'creating chat...' : 'create chat'" />
        </fieldset>
    </form>

    <graffiti-discover v-slot="{ objects: groupChatObjects, isInitialPolling }" :channels="['designftw']"
        :schema="{
            type: 'object',
            required: ['value'],
            properties: {
                value: {
                    type: 'object',
                    required: ['activity', 'object'],
                    properties: {
                        activity: { type: 'string', enum: ['Create'] },
                        object: {
                            type: 'object',
                            required: ['type'],
                            properties: {
                                type: { enum: ['Group Chat'] }
                            }
                        }
                    }
                }
            },
        }">
        <ul>
            <li v-if="isInitialPolling">Loading...</li>
            <li v-if="groupChatObjects.length == 0">You're not in any chats yet. Create a chat below!</li>
            <li v-for="object of groupChatObjects.sort((a, b) => b.value.name - a.value.name)"
                :key="object.url">
                <!-- <span class="chat" @click="updateCurrentChat(object.value.object)">
                    {{ object.value.object.name }}
                </span> -->

                <router-link class="chat" :to = "`/` + this.username + `/` + object.value.object.name + `/` + object.value.object.channel">
                    {{ object.value.object.name }}
                </router-link>

                <section v-if="object.actor == $graffitiSession.value.actor">
                    <span class="icon" @click="revealInput($event)">
                        ✏️
                    </span>

                    <span class="icon" @click="deleteChat(object)">
                        🗑️
                    </span>
                </section>

                <form class="hiddenUnlessReveal" @submit.prevent="editChatName($event, object)">
                    <input type="text" placeholder="revise the name of the chat above!" v-model="newChatName">
                    <input type="submit" value="Save" />
                </form>
            </li>
        </ul>
    </graffiti-discover>
</section>