<main class="generalLayout" v-if="$graffitiSession.value">
    <NavBar :username="username" :chatName="chatName" :channel="channel"></NavBar>
    <Profile v-if="this.view == 'profile'" :profileSchema="profileSchema" :username="username"></Profile>
    <section v-else class="sideAndChatLayout">
        <SideBar :username="username" :view="view" :inviteSchema="inviteSchema" :profileSchema="profileSchema" @channel="getChannel"></SideBar>
        <ChatWindow 
            :username="username" 
            :chatName="chatName" 
            :channel="channel" 
            :inviteSchema="inviteSchema" 
            :profileSchema="profileSchema"
            :key="$route.fullPath"
        ></ChatWindow>
    </section>
</main>