<main class="generalLayout" v-if="$graffitiSession.value">
    <NavBar :username="username" :chatName="chatName" :channel="channel"></NavBar>
    <Profile v-if="this.view == 'profile'" :profileSchema="profileSchema" :username="username"></Profile>
    <Calendar v-else-if="this.view == 'calendar'"></Calendar>
    <section v-else class="sideAndChatLayout">
        <SideBar :username="username" :view="view" :inviteSchema="inviteSchema"></SideBar>
        <ChatWindow :chatName="chatName" :channel="channel"></ChatWindow>
    </section>
</main>